   /* Google Font */
    /* latin */
    @font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Google Sans Regular'), local(GoogleSans-Regular), url(//fonts.gstatic.com/s/googlesans/v5/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2) format("woff2");
    }
/* 
    /* latin */
    @font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Google Sans Medium'), local('GoogleSans-Medium'), url(https://fonts.gstatic.com/s/googlesans/v11/4UabrENHsxJlGDuGo1OIlLU94YtzCwY.woff2) format('woff2');
    } 
    
    /* cyrillic-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-stretch: 100%;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-stretch: 100%;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2) format('woff2');
      unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    
    :root {
      --main-bg-color: #091930;
      --second-bg-color: #06265C;
      --bright-color: #3571FF;
    }
    
    .notion-topbar, .notion-frame, .notion-sidebar {
/*         background: var(--main-bg-color) !important; */
        background: var(--second-bg-color) !important;
    }
    
    div[style="max-width: 100vw; z-index: 100; background: rgb(25, 25, 25); user-select: none;"] {
        background: var(--second-bg-color) !important;
    }
    
    .notion-sidebar {
        border-right: 1px solid var(--main-bg-color);
    }
    
    .notion-topbar {
        border-bottom: 1px solid var(--main-bg-color);
    }
    
    * {
        font-family: "Google Sans", "Open Sans";
        color: #BED8FF;
    }
    
    *[style*="color:rgba(82, 158, 114, 1);fill:rgba(82, 158, 114, 1)"] {
/*         color: #0F0 !important; */
        color: #3DDC84 !important;
    }
    
    svg {
        fill: var(--bright-color) !important;
    }
    
    .notion-focusable:hover {
        background-color: var(--bright-color) !important;
    }
    
    .notion-focusable:hover svg {
        fill: var(--main-bg-color) !important;
    }
    
    .notion-focusable:hover * {
        color: var(--main-bg-color) !important;
    }
    
    ::-webkit-scrollbar-thumb {
      background: var(--bright-color);
/*       border-radius: 10px; */
    }
    
    div[style="display: flex; align-items: center; position: relative; flex-direction: row; transform-origin: right 50%; right: 5px; top: -111px; opacity: 1;"] > div {
        background-color: var(--main-bg-color) !important;
    }
